{
    "rules": {
        "indent": [
            2,
            2
        ],
        "quotes": [
            1,
            "single",
            "avoid-escape"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-underscore-dangle": [
            0
        ]
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "plugins": [
        "react"
    ]
}
