{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "indent": [2, 2, { "SwitchCase": 1 }],
    "quotes": [2, "single", "avoid-escape"],
    "jsx-quotes": [2, "prefer-double"],
    "linebreak-style": [2, "unix"],
    "no-unused-vars": [2, { "args": "none" }],
    "semi": [2, "never"]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "babel",
    "react"
  ]
}
