node_modules
.tmp
.env
.DS_Store
.wercker
deploy
public/font/icomatic.html
public/font/icomatic.js
public/font/icomatic.html
public/js/manifold.js
public/css/main.css*
test/bundle.js
.vagrant
npm-debug.log*
test/test-bundle.js
public/js/manifold.js.map
test/test-bundles.js.map
