<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sprint.ly – Kanban Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.6/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.6/slick-theme.min.css"/>

    {% if process.env.NODE_ENV === 'production' %}
      <link rel="stylesheet" href="/css/main.min.css">
    {% else %}
      <link rel="stylesheet" href="/css/main.css">
    {% endif %}

  </head>
  <body>

    <!-- Mounting node -->
    <div id="manifold" class="row-offcanvas row-offcanvas-left"></div>

    <script>
      var __token = '{{token}}';
    </script>

    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
    {% if process.env.NODE_ENV === 'production' %}
      <script src="/js/manifold.min.js"></script>
    {% else %}
      <script src="/js/manifold.js"></script>
    {% endif %}

    {% if process.env.NODE_ENV === 'production' %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-27543638-6', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
