.item-detail .section.comments {
  div[contenteditable]{
    .border-top-radius(5px);
    border-color: @sprintly-grey;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    padding: 0;
    text-indent: 10px;
    padding-top: 10px;
    min-height: 60px;
    outline: none;
  }

  button {
    margin-top: 5px;
  }
}
.item-detail .section.comments .comment__form .comment__button {
  @media (max-width: @screen-xs-min) {
    padding: 0;
  }
}
.item-detail .section.comments .instructions {
  .border-bottom-radius(5px);
  border-color: @sprintly-grey;
  border-style: solid;
  background-color: @sprintly-light-grey;
  border-width: 1px 1px 1px 1px;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: -5px;
}
.item-detail .section.comments .instructions .upload,
.item-detail .section.comments .instructions .syntax {
  display: inline-block;

  span.blue,
  span.blue__light {
    color: @sprintly-blue;
  }
  span.blue {
    font-weight: @fontWeight-6;
  }
  span.blue__light {
    .italicize();
  }
}
.item-detail .section.comments .instructions .upload {
  float: left;
  margin-left: 10px;
}
.item-detail .section.comments .instructions .syntax {
  float: right;
  margin-right: 10px;
}
