.item-detail .section.description .item__description {
  z-index: @zIndex-2;
  padding-left: 0;
  margin-bottom: 45px;
}
.item-detail .section.description .item__description .highlighter {
  display: none;
}
.item-detail .section.description .description__control {
  position: absolute;

  button {
    margin-top: 10px;
  }
}
