.item-detail .section.activity {
  ul {
    margin-top: 15px;
    list-style: none;
    padding-left: 0px;
  }
  li {
    height: 100%;
    min-height: 40px;
    @media (max-width: @screen-lg-min) {
      min-height: 25px;
    }
    width: 100%;
    display: inline-block;
  }
  img {
    border-radius: 15px;
  }
}
.item-detail .section.activity .avatar {
  float: left;
  padding-left: 12px;
}
.item-detail .section.activity .creator {
  font-weight: @fontWeight-6;
  font-size: 14px;
  text-align: center;
}
.item-detail .section.activity .activity-type {
  font-size: 12px;
  color: @sprintly-blue;
  text-align: right;
  line-height: 23px;
}
.item-detail .section.activity .timestamp {
  font-size: 12px;

  @media (max-width: @screen-lg-min) {
    font-size: 11px;
  }
}
.item-detail .section.activity .activity__description {
  font-size: 14px;
  margin-bottom: 10px;
  word-wrap: break-word;
}
.item-detail .section.activity .timestamp {
  .italicize();
  width: 12%;
  text-align: right;
}
.item-detail .section.activity .load-more {
  margin-bottom: 60px;
}
.item-detail .section.activity .header .activity__counter {
  .italicize();
  display: inline-block;
  text-align: left;
  color: @sprintly-black;
  font-weight: @fontWeight-6;
  line-height: 28px;
  font-size: 13px;
}
