// Vendor
@import "bootstrap/bootstrap.less";
@import "react-select/select.less";
@import "../../node_modules/sprintly-ui/src/less/sprintly-ui";

// Utils
@import "utils/colors";
@import "utils/font-weights";
@import "utils/mixins";
@import "utils/typography";
@import "utils/z-index";

// Components
@import "components/header";
@import "components/columns";
@import "components/buttons";
@import "components/item-detail";
@import "components/item-card";
@import "components/item-summary";
@import "components/sprint";
@import "components/product-selector";
@import "components/filters-toolbar";
@import "components/product-dropdown";
@import "components/search";
@import "components/add-item-modal";
@import "components/tags-input";
@import "components/sidebars/sidebar-filters";
@import "overrides";

html, body {
  height: 100%;
  color: @sprintly-black;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: @sprintly-black;
}

.app-view {
  background-color: @sprintly-background;
}

.loading {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;

  small {
    margin: 1rem;
    display: block;
  }
}
