@brand-primary:         #33BBFF;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

/**
 * React Select Overrides - src in public/less/react-select
*/
.Select-menu {
  max-height: 108px;
}

.Select-clear {
  width: 30px;
  height: 36px;
  text-align: center;
  padding: 0;
  margin: 0 10px;
  line-height: 30px;
}

.no-gutter,
.collapse-gutters [class*="col-"] {
  padding-right:0;
  padding-left:0;
}
