@header: #333333;
@background: #FAFAFA;
@column-border: #979797;

@header-title: #EFEFEF;
@running-man: #21718D;

// Item Column Tray
.container-tray {
  position: absolute;

  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: @background;

  @media (min-width: @screen-md-min) {
    min-width: @screen-lg-min;
    overflow-x: hidden;
  }

  // Mobile width stylings
  @media (max-width: @screen-sm-min) {
    overflow: scroll;
  }

}

.tray {
  height: 100%;
  float: left;
  width: 1875px;
  .transition(all 400ms);

  @media (min-width: @screen-md-min) {
    width: 120%;
    .translate(-8%, 0);

    &.show-accepted {
      .translate(-16.8%, 0);
    }

    &.show-someday {
      .translate(0, 0)
    }
  }
  overflow: scroll;
}

.tray .column {
  box-sizing: border-box;
  float: left;
  min-height: 100%;
  padding: 1em;
  position: relative;
  width: 20%;
  max-width: 500px;
}

.column__nav {
  margin-top: 93px;
  width: 100%;

  background: #ECECEC;
  color: @header;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #CFCFCF;

  nav {
    width: 20%;
    max-width: 500px;
    height: 34px;
    display: inline-block;
    border-right: 1px solid #ababab;
  }

  nav h3 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    line-height: 2.4em;
    color: #333;
  }
}

.column__sort-options {
  float: left;
  padding-bottom: 0.5em;
  .reverse-sort {
    padding: 0;
    background: transparent;
    border: 0;
    outline: none;

    &[disabled] {
      .opacity(0.1);
    }
  }

  .reverse-sort span {
    margin-left: 1em;
    top: 4px;
    font-size: 12px;
  }
}

.column__summary {
  float: right;
  display: none; // backing data not yet implemented
}

.load-more {
  float: left;
  width: 100%;
  color: #323232;
  background-color: #fff;
  line-height: 32px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;

  &:focus,
  &:active {
    outline: none;
    color: @column-border;
  }

  &.loading {
    display: none;
  }
}

@media (min-width: 1200px) {
  .tray {
    width: 100%;
    .translate(0, 0);

    &.show-accepted,
    &.show-someday {
      .translate(0, 0);
    }
  }
}

@media (min-width: 720px) and (max-width: 1399px) {
  .tray .column .item-card .title {
    font-size: 1.8em;
  }

  .container-tray {
    min-width: auto;
  }
}
// End Item Column Tray
