// Item Column Tray
.container-tray {
  position: absolute;
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #FAFAFA;
}

.running-man {
  float: left;
  margin: 9px;
}

.running-man-svg {
  fill-rule:  evenodd;
  clip-rule:  evenodd;
  fill: #ED1F24;
}

.product__header {
  background: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 200;

  h1 {
    padding-top: 12px;
    float: left;
    color: #909090;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }
}


@column-border: #979797;
@column-border-style: dashed;

.tray {
  height: 100%;
  float: left;
  .transition(all 400ms cubic-bezier(0.19, 1, 0.22, 1));
  width: 120%;
  .translate(-8%, 0);

  &.show-accepted {
    .translate(-16.8%, 0);
  }

  &.show-someday {
    .translate(0, 0)
  }

  .column {
    box-sizing: border-box;
    float: left;
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding: 8em 1em 1em;
    position: relative;
    width: 20%;
    border-right: 1px @column-border-style @column-border;
  }

}

.tray .column__nav {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #D8D8D8;
  color: 666666;

  nav {
    width: 20%;
    display: inline-block;
    height: 2em;
    border-right: 1px @column-border-style #ababab;
  }

  nav h3 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    line-height: 2em;
    color: #666;
  }

}

.column {
  &.accepted, &.someday {
    .opacity(0.4);
    .transition(opacity 300ms ease-in-out);
    &:hover {
      .opacity(1);
    }
  }
}

.column__sort-options {
  float: right;
  padding-bottom: 0.2em;
  .opacity(0.5);

  &:hover {
    .opacity(1);
  }

  .btn {
    font-size: 0.8em;
    border: none;
    margin: 0 0 0 0.2em;
    padding: 0;
    display: inline-block;
    background: transparent;

    &.sort-direction {
      font-size: 1.4em;
      position: relative;
      top: -2px;
      margin-left: 0.5em;
    }

    &.js-active {
      text-decoration: underline;
    }

    &:hover {
      background: inherit;
      outline: none;
      text-decoration: underline;
    }

    &:active, &:focus {
      box-shadow: none;
      background: inherit;
      outline: none;
    }

    &::after {
      content: '—';
      text-decoration: none;
      display: inline-block;
      padding-left: 0.2em;
    }

    &:last-of-type::after {
      display: none;
    }
  }

}

@media (min-width: 1400px) {

}

@media (min-width: 720px) and (max-width: 1399px) {

}
// End Item Column Tray


