.filters__toolbar {
  position: fixed;
  top: 40px;
  height: 40px;
  background: #666;
  width: 100%;
  z-index: 200;
  padding: 0.5em 0;
}

.filter-typography() {
  font-weight: 300;
  font-size: 13px;
  color: rgb(68, 67, 69);
}

.filter__label {
  .filter-typography;
  float: left;
  background-color: #dad9d9;
  border: none;
  border-right: 1px solid black;
  border-radius: 2px 0 0 2px;
  padding: 4px 20px 4px 12px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 12px;
    right: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    border-color: rgb(87,87,87) transparent transparent transparent;
  }
}

.filter__criteria {
  .filter-typography;
  float: left;
  background-color: #b9b9b1;
  padding: 4px 12px;
  border-radius: 0 2px 2px 0;
}

.filter__criteria-selector {
  display: none;
  position: absolute;
  top: 2.8em;
  float: left;
  background: #fff;
  min-width: 150px;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1px 2px 7px -1px #6E6E6E;

  &.visible {
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    top: -9px;
    left: 20%;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 8px 10px 8px;
    border-color: transparent transparent #fff transparent;
  }

  .form-group {
    margin: 0;
  }
}
