// Item Card
@story-bg: #C4FFCC;
@task-bg: #E0E0E0;
@defect-bg: #FFC4C4;
@test-bg: #C4E1FF;

@card-text: #666;
@task-text: #8C8C8C;
@defect-text: #FFF;
@controls-text: #CCC;

@card-border: #E0E0E0;

.item-card__details {
  float: left;
  width: 100%;
  margin: 1.4em 0 0;
  margin-top: 1rem;
}

.item-card__description {
  margin-top: 1rem;
  background: #eee;
  border-radius: 2px;
  box-shadow: none;
  border:none;
}

.item-card__tags {
  width: 100%;
  background: #eee;
  border-radius: 2px;
  padding: 0.5em;
  margin-top: 1rem;

  .item-card__tags-label {
    font-size: 11px;
    margin-right: 4px;
    position: relative;
    top: -4px;
  }

  .btn {
    padding: 3px 4px;
    margin-right: 4px;
  }
}

.item-card__extra-controls {
  background: #666;
  width: 100%;
  box-sizing: content-box;
  position: relative;
  left: -1.5rem;
  padding: 16px 1.5rem 14px;
  text-align: center;

  a {
    font-size: 40px;
    margin-right: 10px;
    background: #444;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.item-card {
  position: relative;
  box-sizing: border-box;
  padding: 1em 0;
  margin-bottom: 1em;
  float: left;
  width: 100%;
  border: 1px solid @card-border;
  border-radius: 2px;

  &.active {
    border: 1px solid darken(@card-border, 30%);
  }

  .row {
    margin: 0;
  }

  // Background variants

  &.story {
    background: #fff;
    border-left: 5px solid @story-bg;
  }

  &.defect {
    background: #fff;
    border-left: 5px solid @defect-bg;
  }

  &.task {
    border-left: 5px solid @task-bg;
  }

  &.test {
    border-left: 5px solid @test-bg;
  }

  &:hover .item-card__controls a {
    .opacity(100);
  }

  .item-card__controls > a:hover {
    color: #444;
  }
}

.item-card__title {
  margin: 0;
  padding: 0 0 0 1em;
  border-left: 1px solid #eaeaea;
  word-wrap: break-word;
  font-weight: normal;
  font-size: 16px;
  float: left;
}

.item-card__controls {
  padding: 0 1em;
  float: left;

  @media (min-width: 720px) and (max-width: 1399px) {
    padding: 0 0.4em;
  }
}

.item-card__number {
  float: left;
  width: 100%;
  text-align: center;
  color: #909090;
  font-size: 12px;
}

.item-card__owner-avatar {
  float: left;
  width: 100%;
  text-align: center;
  img {
    border-radius: 36px;
  }
}

.item-card__summary {
  margin-top: -1rem;

  .item-card__summary-details {
    float: left;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 11px;
    color: @card-text;
    line-height: 1.2;

    a {
      color: @card-text;
    }
  }

  .item-card__summary-supplement {
    .clearfix;
  }
}

.item-card {
  &:hover .item-card__summary,
  &.active .item-card__summary {
    .opacity(1);
  }
}


