.search {
  margin-top: 6em;
}

.search__filters .btn-group-vertical {
  width: 100%;
  margin-bottom: 2em;

  .btn {
    text-align: left;
  }
}

.header-search {
  margin-top: 10px;

  .form-group {
    background: #222;
    border-radius: 4px;

    .label {
      margin-left: 8px;
    }
  }

  input.form-control {
    padding-left: 8px;
    background: #222;
    border: none;
    color: #fff;
    .box-shadow(none);
  }

  .btn-default {
    background: #444;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    height: 34px;
  }
}
