.sprint {
  margin-bottom: 10px;

  &:first-of-type {
    margin-top: 37px;
  }

  .item-card {
    float: none;
  }

  .item-card:last-of-type {
    margin-bottom: 10px;
  }

  .panel {
    margin-bottom: 10px;
  }

  .sprint__chevron {
    float: right;
    top: 4px;
  }
}

.team__strength {
  margin-left: 5px;
  display: inline;
  max-width: 30px;

  input {
    max-width: 30px;
    margin-left: 5px;
  }
}
